/*Style Desktop Layout*/

@media screen and (min-width: 1025px) {

    body{
        overflow-y: scroll;
    }

    .icon-notfound{
        font-size: 200px;
        text-align: center;
        width: 100%;
        color: #1890ff
    }

    .icon-404{
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }


    .button-notfound{
        text-align: center;
        width: 100%;
        margin-top: 1em
    }

    .button-copy-mail{
        margin-left: 1em;
    }

    .minHeight33{
        min-height: 33px;
    }


    .deleteOptionButton{
        padding: 4px;
        text-align: center;
    }

    .steps-content {
        min-height: 200px;
        margin-top: 16px;
        padding-top: 16px;
        text-align: center;
        background-color: #fafafa;
        border: 1px dashed #e9e9e9;
        border-radius: 2px;
        min-height: 495px;
      }

      .addOptionButton{
          width: 100%;
          min-height: 130px;
      }

      .inline{
          display: inline-flex;
      }

      .steps-action {
        margin-top: 24px;
      }

    .form-grades{
        width: 90%;
        margin-left: 5%;
    }

    .form-emphasis{
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    .form-semester-heading{
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .imageDegreeCreatorExplaination{
        width: 100%;
    }

    .row{
        margin-left: 5%;
    }

    .form-editSelectDegree{
        font-size: 20px;
        padding-left: .5em;
    }


    .selectDegree-box{
        padding-left: 24px;
        min-height: 217px;;
    }

    .form-selectDegree{
        margin-top: .5em;
    }

    .selectDegree-text{
        font-size: 20px;
    }

    .form-submit{
        width: 90%;
        margin-left: 5%;
        padding: 1em;
        justify-content: center;
        display: inline-flex
    }

    .form-grades-button-reset{
        margin-left: 1em;
    }

    .result-page{
        width: 90%;
        margin-left: 5%;
    }

    .single-grade-name{
        font-size: 22px;
        width: 70%;
    }

    .single-gradebox{
        display: inline-flex;
        width: 80%;
        margin-left: 10%;
    }

    .single-grade-grade{
        font-size: 22px;
    }

    .result-incomplete-box{
        margin-left: 12%;
        padding-bottom: .5em;
    }

    .result-heading{
        text-align: center;
    }

    .result-case-grades{
        margin-left: 12%;
        width: 100%;
        display: inline-flex
    }

    .result-case-info{
        width: 15%;
    }

    .result-best-case{
        width: fit-content;
    }

    .result-worst-case{
        width: fit-content;
        margin-left: 10px;
    }

    .result-average-basic{
        width: 60%;
    }

    .result-average{
        width: 80%;
        margin-left: 10%;
        display: inline-flex
    }

    .result-average-expected{
        font-size: 22px;
        font-weight: bold;
    }

    .average-page-buttons{
        display: inline-flex;
        flex-flow: wrap;
    }

    .average-grades-button-reset{
        margin-right: 1em;
        margin-top: .5em
    }

    .single-grade-collabs{
        width: 20px;
        font-size: 22px;
    }

    .single-grade-collabs-icon{
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    .selectDegree-contact-link{
        margin-left: 5px;
    }

    .form-grades-back{
        margin-left: 10%;
    }

    .text-icon{
        margin-right: 5px;
    }

    .key_removed_elevtive{
        margin-left: 20px;
    }

    .missingGrades{
        margin-bottom: 1em;
    }

    .footer{
      height: 50px;
      display: inline-flex;
      width: 100%;
    }

    .content{
        min-height: calc(100vh - 60px);
    }

    .degreeCreator{
        width: 95%;
        margin-left: 2.5%;
    }

    .footer-link{
        float: right;
        padding: 1em
    }

    .footer-link:first-of-type{
        margin-right: 5%;
    }

    .footer-name{
        padding: .3em;
        margin-left: 5%;
        width: 15%;
        font-size: 25px;
    }

    .footer-links{
        width: 80%;
    }

    .header{
        height: 200px;
    }

    .header-name{
        min-width: 100%;
        height: 100%;
        font-size: 70px;
        color: black;
        text-align: center;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;

        display: -moz-box;
        -moz-box-pack: center;
        -mos-box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: box;
        box-pack: center;
        box-align: center;
    }

    .header-small{
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        width: 100%;
        padding: .4em;
        display: inline-flex
    }

    .header-link{
        color: black;
        font-size: 25px;
        height: 100%;
        display: block;
        cursor: pointer;
        margin-left: 5%;
    }

    .header-back{
        position: absolute;
        right: 5%
    }

    .imprint-us{
        display: inline-flex;
        margin-left: 10%;
        width: 80%;
    }

    .imprint-person{
        padding: 2em;
        width: 20%;
    }

    .imprint-heading{
        text-align: center;
    }

    .imprint-body{
        width: 80%;
        margin-left: 10%;
    }

    .grade-input-heading{
        text-align: center;
    }

    .explaination_note{
        margin-top: 1em
    }


    .number-input-exam{
        display: inline-flex
    }


    .creator_basicinformation_box_edit{
        display: inline-flex
    }

    .creator_basicinformation_box_show{
        display: inline-flex
    }

    .creator_heading{
        font-size: 20px;
        min-width: 300px;
        margin-left: 7.5px;
        margin-bottom: 24px;
    }

    .creator_text{
        font-size: 20px;
        margin-left: 30px;
        margin-bottom: 24px;
    }

    .creator_basicInformations{
        padding-top: 2em;
        width: 50%;
        margin-left: 20%;
    }

    .width100{
        width: 100%;
    }

    .labelBasics{
        min-width: 45%;
    }

    .create_degree_buttons{
        padding: 1em;
    }

    .position_center{
        width: 90%;
        margin-left: 5%;
        justify-content: center;
        display: inline-flex;
    }

    .degreeCreator_singleElement{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .examPackages_addExams{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align : center;
        -moz-box-align    : center;
        -ms-flex-align    : center;
        -webkit-align-items : center;
        align-items : center ;
        justify-content : center;
        -webkit-justify-content : center;
        -webkit-box-pack : center;
        -moz-box-pack : center;
        -ms-flex-pack : center;
        margin-left: 10%;
        width: 80%;
    }

    .singleStepDegreeCreator{
        margin-top: 2%
    }

    .buttonTextAddExam{        
        overflow-wrap: normal;        
    }

    .examPackages_add_heading{
        margin-right: 5px;
    }

    .examPackages_noExams{
        text-align: center;
        padding-bottom: 1em;
    }

    .degreeCreator_exam_value{
        margin-right: 5%;
    }

    .displayInline{
        display: inline-flex;
        width: 100%;
    }

    .bold{
        font-weight: bold;
    }

    .createExamForm{
        min-height: 150px;
    }

    .degreeCreator_examText{
        font-size: 14px;
        height: 33px;
        margin-bottom: 24px; 
    }

    .degreeCreator_exampackage_text{
        font-size: 14px;
        height: 33px;
        margin-bottom: 24px; 
    }

    .manuall_divider{
        width: 100%;
        border-top: 7px solid rgba(0, 0, 0, 0.06);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .dashedBorder{
        border: 1px solid #d9d9d9;
        border-style: dashed;  
        border-radius: 2px;
        padding-left: 5%;
        padding-top: 5%         
    }

    .buttonCenter{
        justify-content: center;
    }

    .semesterChoisebox{
        width: 70%;
        margin-left: 25%;
    }

    .overviewbox{
        border: 1px solid #d9d9d9;
        border-style: dashed;  
    }

    .overviewtext{
        margin-left: 10%;
    }

    .overviewheading{
        text-align: center;
    }



    .dashedBorder:hover{
        border-color: #1890ff;
    }

    .minHeight300{
        min-height: 300px !important;
    }

    .buttonBasicInformations{
        width: 100%;
        justify-content: center;
        display: inline-flex;
    }

    .examsDroppable{
        width: 30%;
        min-height: 70vh;
        border: 1px solid #d9d9d9;
        border-style: dashed;  
        border-radius: 2px;
        padding: 1%
    }

    .singleExamText{
        text-align: center;
        min-height: 45px;
    }

    .saveWeightButton{
        margin-left: 5px;
        margin-top: 3px
    }

    .editButton{
        margin-left: 5px;
    }

    .elevativeText{
        margin-left: 10%;
    }

    .optionElevative{
        min-height: 60px;
        padding-top: 4px;
        margin-left: 10px;
    }

    .setEditIconShort{
        margin-left: 5px;
    }

    .center{
        text-align: center;
    }

    .width70{
        min-width: 70%;
    }

    .weightFieldInline{
        display: inline-flex;
        width: 100%;
        min-height: 35px;
    }

    .semesterChoiseInline{
        display: inline-flex;
        min-height: 35px;
        padding-bottom: 2em;
        width: 100%;
    }

    .semesterChoiseText{
        width: 70%;
    }

    .semesterChoiseButtons{
        width: 30%;
    }
    .singleExamDraggable{
        background-color: #d9d9d9;
        border-radius: 5%;
        padding: 5px;
        height: 100%;
    }

    .inlineflex{
        display: inline-flex;
        width: 100%;
    }

    .headingStepTwo{
        text-align: center;
        font-weight: bold;
        width: 67%;
        margin-left: 3%;
    }

    .headingStepTwo:first-of-type{
        width: 30%;
        margin-left: 0%;
    }

    .examPackagesBox{
        width: 68%;
        margin-left: 2%;
        min-height: 70vh;
        border: 1px solid #d9d9d9;
        border-style: dashed;  
        border-radius: 2px;
        padding: 1%
    }

    .addExamsDragAndDropText{
        margin: auto;
        width: 100%;
        text-align: center;
    }

    .addExamButton{
        width: 100%;
        border-style: dashed !important;
    }

    .examPackageElement{
        width: 100%;
        height: 100%;
        padding: 4px;
        border: 1px solid #d9d9d9;
        border-style: dashed;  
        border-radius: 2px;
    }

    .singleOptionElevative{
        border: 1px solid #d9d9d9;
        border-style: dotted;
        min-height: 130px;
    }

    .addOptionElevative{
        border: 1px solid #d9d9d9;
        border-style: dotted;
        padding: 4px;
        min-height: 130px;
    }

    .examPackageDroppable{
        width: 100%;
        min-height: 120px !important;
        border-style: groove;
    }

    .divider_large_text{
        font-size: 20px;
    }

    .divider_medium_text{
        font-size: 18px
    }

    .min_height_120{
        min-height: 150px;
        width: 100%;
    }


    .single_col_emphasis{
        width: 90%;
        margin-left: 4%;
    }

    .display_inline{
        display: inline-flex
    }

    .emphasis_weight_input{
        margin-left: 5%;
    }

    .emphasis_component{
        margin-left: 5%;
        width: 90%;
    }

    .form_min_height{
        min-height: 150px;
    }

    .examPackage_nameInput{
        margin-left: 10%;
    }

    .examPackage_weightInput{
        margin-left: 10%;
    }

    .form_item_basic_information{
        min-width: 20%
    }

    .seperator{
        margin-left: 3px;
        margin-right: 3px;
    }

}