/*Style Desktop Layout*/

@media screen and (min-width: 1025px) {

    .form-grades{
        width: 90%;
        margin-left: 5%;
    }

    .form-emphasis{
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }

    .form-semester-heading{
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .row{
        margin-left: 5%;
    }

    .form-editSelectDegree{
        font-size: 20px;
        padding-left: .5em;
    }


    .selectDegree-box{
        padding-left: 24px;
    }

    .form-selectDegree{
        margin-top: .5em;
    }

    .selectDegree-text{
        font-size: 20px;
    }

    .form-submit{
        width: 90%;
        margin-left: 5%;
        padding: 1em;
        justify-content: center;
        display: inline-flex
    }

    .form-grades-button-reset{
        margin-left: 1em;
    }

    .result-page{
        width: 90%;
        margin-left: 5%;
    }

    .single-grade-name{
        font-size: 22px;
        width: 70%;
    }

    .single-gradebox{
        display: inline-flex;
        width: 80%;
        margin-left: 10%;
    }

    .single-grade-grade{
        font-size: 22px;
    }

    .result-incomplete-box{
        margin-left: 12%;
        padding-bottom: .5em;
    }

    .result-heading{
        text-align: center;
    }

    .result-case-grades{
        margin-left: 12%;
        width: 100%;
        display: inline-flex
    }

    .result-case-info{
        width: 15%;
    }

    .result-best-case{
        width: 10%;
    }

    .result-worst-case{
        width: 10%;
    }

    .result-average-basic{
        width: 60%;
    }

    .result-average{
        width: 80%;
        margin-left: 10%;
        display: inline-flex
    }

    .result-average-expected{
        font-size: 22px;
        font-weight: bold;
    }

    .average-page-buttons{
        display: inline-flex
    }

    .average-grades-button-reset{
        margin-left: 1em;
    }

    .single-grade-collabs{
        width: 20px;
        font-size: 22px;
    }

    .single-grade-collabs-icon{
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    .selectDegree-contact-link{
        margin-left: 5px;
    }

    .form-grades-back{
        margin-left: 10%;
    }

    .text-icon{
        margin-right: 5px;
    }

    .footer{
      height: 50px;
      display: inline-flex;
      width: 100%;
    }

    .content{
        min-height: calc(100vh - 60px);
    }

    .footer-link{
        float: right;
        padding: 1em
    }

    .footer-link:first-of-type{
        margin-right: 5%;
    }

    .footer-name{
        padding: .3em;
        margin-left: 5%;
        width: 15%;
        font-size: 25px;
    }

    .footer-links{
        width: 80%;
    }

    .content.contact{
    }

    .content.explanation{

    }

    .content.imprint{
    }

    .header{
        height: 200px;
    }

    .header-name{
        min-width: 100%;
        height: 100%;
        font-size: 70px;
        color: black;
        text-align: center;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;

        display: -moz-box;
        -moz-box-pack: center;
        -mos-box-align: center;

        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: box;
        box-pack: center;
        box-align: center;
    }

    .header-small{
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        width: 100%;
        padding: .4em;
        display: inline-flex
    }

    .header-link{
        color: black;
        font-size: 25px;
        height: 100%;
        display: block;
        cursor: pointer;
        margin-left: 5%;
    }

    .header-back{
        position: absolute;
        right: 5%
    }

    .imprint-us{
        display: inline-flex;
        margin-left: 10%;
        width: 80%;
    }

    .imprint-person{
        padding: 2em;
        width: 20%;
    }

    .imprint-heading{
        text-align: center;
    }

    .imprint-body{
        width: 80%;
        margin-left: 10%;
    }

    .grade-input-heading{
        text-align: center;
    }

}